@model IEnumerable<Flower_Web.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Areas/Admin/ContentAdmin/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Areas/Admin/ContentAdmin/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Areas/Admin/ContentAdmin/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/vendors/styles/style.css">


</head>
<body>
    <!-- Simple Datatable start -->
    <table class="data-table table stripe hover nowrap">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdateAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <div class="dropdown">
                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <i class="dw dw-more"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    @* <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>*@
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "dropdown-item d-block" })<i class="dw dw-edit2"></i>
                    @Html.ActionLink("Details", "Details", new { id = item.Id, @class = "dropdown-item d-block" }, new { @class = "dropdown-item d-block" })<i class="dw dw-eye"></i>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, @class = "dropdown-item d-block" }, new { @class = "dropdown-item d-block" })<i class="dw dw-delete-3"></i>
                </div>
            </div>
        </td>
    </tr>
        }

    </table>
    <!-- js -->
    <script src="~/Areas/Admin/ContentAdmin/vendors/scripts/core.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/vendors/scripts/script.min.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/vendors/scripts/process.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/vendors/scripts/layout-settings.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <!-- buttons for Export datatable -->
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/buttons.print.min.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/buttons.html5.min.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/buttons.flash.min.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="~/Areas/Admin/ContentAdmin/src/plugins/datatables/js/vfs_fonts.js"></script>
    <!-- Datatable Setting js -->
    <script src="~/Areas/Admin/ContentAdmin/vendors/scripts/datatable-setting.js"></script>
</body>
</html>

